---
http_interactions:
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"wrong_user@mail.com","password":"wrongpassword","remember":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      X-Gdc-Request:
      - nsilVMtWEoddsGzs
      Www-Authenticate:
      - GoodData realm="GoodData API"
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '50'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"parameters":[],"component":"Account::Login::AuthShare","message":"Bad
        Login or Password!"}'
  recorded_at: Wed, 21 May 2014 13:34:40 GMT
recorded_with: VCR 2.5.0
