---
http_interactions:
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"user@example.org","password":"my_password","remember":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - 3Tw0kbX4YvfiFHgA
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '84'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"userLogin":{"profile":"/gdc/account/profile/m0ckedpr0f1le0000000000000000001","state":"/gdc/account/login/m0ckedpr0f1le0000000000000000001"}}'
  recorded_at: Mon, 02 Jun 2014 16:43:56 GMT
- request:
    method: get
    uri: https://secure.gooddata.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - qGT00DWU2XnD9dgD
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '13'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Mon, 02 Jun 2014 16:43:57 GMT
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/projects/ex4mplepr0ject1daxxmbz432w32qzdj/dataload/processes/ex4mple4-e1b0-4524-b20b-pr0ce551decb/executions
    body:
      encoding: UTF-8
      string: '{"execution":{"executable":"my_project/graph/my_awesome_graph.grf"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Gdc-Request:
      - cF594nCPc7b4aouN
      Location:
      - /gdc/projects/ex4mplepr0ject1daxxmbz432w32qzdj/dataload/processes/ex4mple4-e1b0-4524-b20b-pr0ce551decb/executions/5379fb1de4b0b35947aa1510
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '89'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"executionTask":{"links":{"poll":"/gdc/projects/ex4mplepr0ject1daxxmbz432w32qzdj/dataload/processes/ex4mple4-e1b0-4524-b20b-pr0ce551decb/executions/5379fb1de4b0b35947aa1510","detail":"/gdc/projects/ex4mplepr0ject1daxxmbz432w32qzdj/dataload/processes/ex4mple4-e1b0-4524-b20b-pr0ce551decb/executions/5379fb1de4b0b35947aa1510/detail"}}}'
  recorded_at: Mon, 02 Jun 2014 16:43:58 GMT
recorded_with: VCR 2.5.0
