---
http_interactions:
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"user@example.org","password":"my_password","remember":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - BQL1hWu7smqFc5eE
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '85'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"userLogin":{"profile":"/gdc/account/profile/m0ckedpr0f1le0000000000000000001","state":"/gdc/account/login/m0ckedpr0f1le0000000000000000001"}}'
  recorded_at: Mon, 02 Jun 2014 19:19:30 GMT
- request:
    method: get
    uri: https://secure.gooddata.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - HmkHBrfwFWFAm1kb
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '10'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Mon, 02 Jun 2014 19:19:30 GMT
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/projects/ex4mplepr0ject1daxxmbz432w32qzdj/users
    body:
      encoding: UTF-8
      string: '{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/ex4mplepr0ject1daxxmbz432w32qzdj/roles/999"]},"links":{"self":"/gdc/account/profile/m0ckedpr0f1le0000000000000000002"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - aQaBGveLaalsJeSS
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '307'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"projectUsersUpdateResult":{"successful":[],"failed":[{"user":"/gdc/account/profile/m0ckedpr0f1le0000000000000000002","message":"User
        cannot be added into specified roles"}]}}'
  recorded_at: Mon, 02 Jun 2014 19:19:32 GMT
recorded_with: VCR 2.5.0
