---
http_interactions:
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"user@example.org","password":"my_password","remember":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - hoIlseN3ZbXGA7HL
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '91'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"userLogin":{"profile":"/gdc/account/profile/m0ckedpr0f1le0000000000000000001","state":"/gdc/account/login/m0ckedpr0f1le0000000000000000001"}}'
  recorded_at: Mon, 02 Jun 2014 16:09:48 GMT
- request:
    method: get
    uri: https://secure.gooddata.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - loGkxei1TqkAThFU
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '9'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Mon, 02 Jun 2014 16:09:49 GMT
recorded_with: VCR 2.5.0
