---
http_interactions:
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"user@example.org","password":"my_password","remember":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - fhguyZERexVp7OVJ
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '94'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"userLogin":{"profile":"/gdc/account/profile/m0ckedpr0f1le0000000000000000001","state":"/gdc/account/login/m0ckedpr0f1le0000000000000000001"}}'
  recorded_at: Mon, 09 Jun 2014 18:12:44 GMT
- request:
    method: get
    uri: https://secure.gooddata.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - zovYaT6re3AGK9lF
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Mon, 09 Jun 2014 18:12:45 GMT
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/md/ex4mplepr0ject1daxxmbz432w32qzdj/userfilters
    body:
      encoding: UTF-8
      string: '{"userFilters":{"items":[{"user":"/gdc/account/profile/m0ckedpr0f1le0000000000000000001","userFilters":["/gdc/md/ex4mplepr0ject1daxxmbz432w32qzdj/obj/123"]}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - 5a1qXUxC7fDqEKAy
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '74'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"userFiltersUpdateResult":{"failed":[{"user":"/gdc/account/profile/m0ckedpr0f1le0000000000000000001","message":"Some
        userFilter references was not saved: 1"}],"successful":[]}}'
  recorded_at: Mon, 09 Jun 2014 18:12:46 GMT
recorded_with: VCR 2.5.0
