---
http_interactions:
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"user@example.org","password":"my_password","remember":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - krqQ4H8mKwpa4aRL
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '123'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"userLogin":{"profile":"/gdc/account/profile/m0ckedpr0f1le0000000000000000001","state":"/gdc/account/login/m0ckedpr0f1le0000000000000000001"}}'
  recorded_at: Fri, 06 Jun 2014 14:07:55 GMT
- request:
    method: get
    uri: https://secure.gooddata.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - Y7CmKJbV3f3tfAld
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '15'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Fri, 06 Jun 2014 14:07:56 GMT
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/md/ex4mplepr0ject1daxxmbz432w32qzdj/obj
    body:
      encoding: UTF-8
      string: '{"userFilter":{"content":{"expression":"[/gdc/md/ex4mplepr0ject1daxxmbz432w32qzdj/obj/123]=[/gdc/md/ex4mplepr0ject1daxxmbz432w32qzdj/obj/123/elements?id=1231]"},"meta":{"category":"userFilter","title":"accountfilter"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Gdc-Request:
      - OlJHA2TsrvQGi8ZV
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '57'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"parameters":["[/gdc/md/ex4mplepr0ject1daxxmbz432w32qzdj/obj/123]=[/gdc/md/ex4mplepr0ject1daxxmbz432w32qzdj/obj/123/elements?id=1231]"],"requestId":"OlJHA2TsrvQGi8ZV:dihxinshx4nf9gkb","component":"MD::Obj","errorClass":"GDC::Exception::User","message":"Expression
        not allowed in userFilter ''%s''."}}'
  recorded_at: Fri, 06 Jun 2014 14:07:57 GMT
recorded_with: VCR 2.5.0
