---
http_interactions:
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"user@example.org","password":"my_password","remember":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - GMSTFBpnViXZnnAV
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '82'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"userLogin":{"profile":"/gdc/account/profile/m0ckedpr0f1le0000000000000000001","state":"/gdc/account/login/m0ckedpr0f1le0000000000000000001"}}'
  recorded_at: Fri, 30 May 2014 18:15:48 GMT
- request:
    method: get
    uri: https://secure.gooddata.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - cR9FTAq181hqkGLR
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '13'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Fri, 30 May 2014 18:15:49 GMT
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/account/domains/my_domain/users
    body:
      encoding: UTF-8
      string: '{"accountSetting":{"login":"new.user@example.com","password":"my new
        password","email":"new.user@example.com","verifyPassword":"my new password","firstName":"John","lastName":"Smith","ssoProvider":"my.auth.provider"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Gdc-Request:
      - NUAzT3XArFfPF8mE
      Location:
      - /gdc/account/profile/m0ckedpr0f1le0000000000000000002
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '344'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"uri":"/gdc/account/profile/m0ckedpr0f1le0000000000000000002"}'
  recorded_at: Fri, 30 May 2014 18:15:50 GMT
recorded_with: VCR 2.5.0
