---
http_interactions:
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"user@example.org","password":"my_password","remember":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - wnxkgBhJbmgzAbqD
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '80'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"userLogin":{"profile":"/gdc/account/profile/m0ckedpr0f1le0000000000000000001","state":"/gdc/account/login/m0ckedpr0f1le0000000000000000001"}}'
  recorded_at: Fri, 30 May 2014 19:38:44 GMT
- request:
    method: get
    uri: https://secure.gooddata.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - 8TvxFiNJMwCU7STC
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '11'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Fri, 30 May 2014 19:38:44 GMT
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/account/domains/my_domain/users
    body:
      encoding: UTF-8
      string: '{"accountSetting":{"login":null,"password":null,"email":null,"verifyPassword":null,"firstName":null,"lastName":null,"ssoProvider":"my.auth.provider"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Gdc-Request:
      - FIF8zTNWUHZWTaz0
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"errorClass":"com.gooddata.json.validator.exception.MalformedMessageException","trace":"","message":"Malformed
        request: [[[line: 1, column: 48] character content of element \"password\"
        invalid; must be a string with length at least 7 (actual length was 0), [line:
        1, column: 83] character content of element \"verifyPassword\" invalid; must
        be a string with length at least 7 (actual length was 0), [line: 1, column:
        100] character content of element \"firstName\" invalid; must be a string
        with length at least 1 (actual length was 0), [line: 1, column: 116] character
        content of element \"lastName\" invalid; must be a string with length at least
        1 (actual length was 0)]]","component":"Webapp","errorId":"2f780a68-8d3b-4c36-8304-d33f76f04245","errorCode":"gdc702","parameters":[]}}'
  recorded_at: Fri, 30 May 2014 19:38:45 GMT
recorded_with: VCR 2.5.0
