---
http_interactions:
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"user@example.org","password":"my_password","remember":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - catrnMO7Zrc9GM65
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '82'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"userLogin":{"profile":"/gdc/account/profile/m0ckedpr0f1le0000000000000000001","state":"/gdc/account/login/m0ckedpr0f1le0000000000000000001"}}'
  recorded_at: Mon, 02 Jun 2014 16:44:04 GMT
- request:
    method: get
    uri: https://secure.gooddata.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - Ok9auBzh1hVtG6r9
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '12'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Mon, 02 Jun 2014 16:44:05 GMT
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/projects/ex4mplepr0ject1daxxmbz432w32qzdj/dataload/processes/ex4mple4-e1b0-4524-b20b-pr0ce551decb/executions
    body:
      encoding: UTF-8
      string: '{"execution":{"executable":"my_project/graph/INEXISTANT.grf"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Gdc-Request:
      - 7JdUMyH2M9j00DRk
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '359'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"errorClass":"com.gooddata.msf.processes.GraphNotFoundException","trace":"","message":"Graph
        my_project/graph/INEXISTANT.grf not found in process ex4mple4-e1b0-4524-b20b-pr0ce551decb","component":"MSF","errorId":"2d053df2-a311-4dcf-b857-b52cf69174fb","errorCode":"gdc1150","parameters":[]}}'
  recorded_at: Mon, 02 Jun 2014 16:44:07 GMT
recorded_with: VCR 2.5.0
