---
http_interactions:
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"user@example.org","password":"my_password","remember":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - 5cTwVhJxOAMMcLlC
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '115'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"userLogin":{"profile":"/gdc/account/profile/m0ckedpr0f1le0000000000000000001","state":"/gdc/account/login/m0ckedpr0f1le0000000000000000001"}}'
  recorded_at: Fri, 30 May 2014 19:39:31 GMT
- request:
    method: get
    uri: https://secure.gooddata.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - XWDHziXwU7q1g59N
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '15'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Fri, 30 May 2014 19:39:32 GMT
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/account/domains/my_domain/users
    body:
      encoding: UTF-8
      string: '{"accountSetting":{"login":"duplicated.user@example.com","password":"my
        new password","email":"duplicated.user@example.com","verifyPassword":"my new
        password","firstName":"John","lastName":"Smith","ssoProvider":"my.auth.provider"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Gdc-Request:
      - xRQlO64WHRPVI9KV
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '33'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"errorClass":"com.gooddata.webapp.service.userprovisioning.LoginNameAlreadyRegisteredException","trace":"","message":"Account
        cannot be created. Login name ''duplicated.user@example.com'' is already used.","component":"Webapp","errorId":"b5eebc6f-f8eb-471a-a0e6-ee7abf9f6a79","errorCode":"gdc1052","parameters":[]}}'
  recorded_at: Fri, 30 May 2014 19:39:33 GMT
recorded_with: VCR 2.5.0
