---
http_interactions:
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"user@example.org","password":"my_password","remember":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - DVJzGkazrlfAF2Ku
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '125'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"userLogin":{"profile":"/gdc/account/profile/m0ckedpr0f1le0000000000000000001","state":"/gdc/account/login/m0ckedpr0f1le0000000000000000001"}}'
  recorded_at: Mon, 02 Jun 2014 16:44:02 GMT
- request:
    method: get
    uri: https://secure.gooddata.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - ivS3qa7dRMKFB8w3
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '17'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Mon, 02 Jun 2014 16:44:02 GMT
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/projects/ex4mplepr0ject1daxxmbz432w32qzdj/dataload/processes/123123/executions
    body:
      encoding: UTF-8
      string: '{"execution":{"executable":"my_project/graph/my_awesome_graph.grf"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Gdc-Request:
      - WWnKtWaE6NX1yGSb
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '63'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"errorClass":"com.gooddata.msf.processes.ProcessNotFoundException","trace":"","message":"Process
        123123 not found.","component":"MSF","errorId":"6b4cbfff-0e89-4847-8279-fad3d2c26e20","errorCode":"msf.process.notfound","parameters":[]}}'
  recorded_at: Mon, 02 Jun 2014 16:44:03 GMT
recorded_with: VCR 2.5.0
