---
http_interactions:
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"user@example.org","password":"my_password","remember":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - vsSLpj5fRq38u6ry
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '115'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"userLogin":{"profile":"/gdc/account/profile/m0ckedpr0f1le0000000000000000001","state":"/gdc/account/login/m0ckedpr0f1le0000000000000000001"}}'
  recorded_at: Mon, 02 Jun 2014 17:36:12 GMT
- request:
    method: get
    uri: https://secure.gooddata.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - 55FkOcFGoul265qk
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '12'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Mon, 02 Jun 2014 17:36:14 GMT
- request:
    method: get
    uri: https://secure.gooddata.com/gdc/projects/ex4mplepr0ject1daxxmbz432w32qzdj/roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - wfnfUdLm0pGlGWzd
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '104'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"projectRoles":{"roles":["/gdc/projects/ex4mplepr0ject1daxxmbz432w32qzdj/roles/2","/gdc/projects/ex4mplepr0ject1daxxmbz432w32qzdj/roles/7","/gdc/projects/ex4mplepr0ject1daxxmbz432w32qzdj/roles/5","/gdc/projects/ex4mplepr0ject1daxxmbz432w32qzdj/roles/3","/gdc/projects/ex4mplepr0ject1daxxmbz432w32qzdj/roles/1","/gdc/projects/ex4mplepr0ject1daxxmbz432w32qzdj/roles/4"],"links":{"project":"/gdc/projects/ex4mplepr0ject1daxxmbz432w32qzdj/"}}}'
  recorded_at: Mon, 02 Jun 2014 17:36:15 GMT
recorded_with: VCR 2.5.0
