---
http_interactions:
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"user@example.org","password":"my_password","remember":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - gMQJhNF9VaGr1D3g
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '94'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"userLogin":{"profile":"/gdc/account/profile/m0ckedpr0f1le0000000000000000001","state":"/gdc/account/login/m0ckedpr0f1le0000000000000000001"}}'
  recorded_at: Mon, 02 Jun 2014 19:17:57 GMT
- request:
    method: get
    uri: https://secure.gooddata.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - lJsbujaeC2MXeqRl
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '9'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Mon, 02 Jun 2014 19:17:57 GMT
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/projects/ex4mplepr0ject1daxxmbz432w32qzdj/users
    body:
      encoding: UTF-8
      string: '{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/ex4mplepr0ject1daxxmbz432w32qzdj/roles/3"]},"links":{"self":"/gdc/account/profile/123123123"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - IWr6Dp36EDouIrhC
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '369'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"projectUsersUpdateResult":{"successful":[],"failed":[{"user":"/gdc/account/profile/123123123","message":"Cannot
        add user to project. User doesn''t exist"}]}}'
  recorded_at: Mon, 02 Jun 2014 19:17:58 GMT
recorded_with: VCR 2.5.0
