---
http_interactions:
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"user@example.org","password":"my_password","remember":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - pwO9q7CnX0YWWOG2
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '93'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"userLogin":{"profile":"/gdc/account/profile/m0ckedpr0f1le0000000000000000001","state":"/gdc/account/login/m0ckedpr0f1le0000000000000000001"}}'
  recorded_at: Fri, 06 Jun 2014 14:07:51 GMT
- request:
    method: get
    uri: https://secure.gooddata.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - AobRsZ8RmAhMlvNr
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '15'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Fri, 06 Jun 2014 14:07:52 GMT
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/md/ex4mplepr0ject1daxxmbz432w32qzdj/obj
    body:
      encoding: UTF-8
      string: '{"userFilter":{"content":{"expression":"[/gdc/md/ex4mplepr0ject1daxxmbz432w32qzdj/obj/1666]=[/gdc/md/ex4mplepr0ject1daxxmbz432w32qzdj/obj/1666/elements?id=1231]"},"meta":{"category":"userFilter","title":"accountfilter"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - f6dTS70Ght2Fv1zd
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '446'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"uri":"/gdc/md/ex4mplepr0ject1daxxmbz432w32qzdj/obj/2646"}'
  recorded_at: Fri, 06 Jun 2014 14:07:54 GMT
recorded_with: VCR 2.5.0
