---
http_interactions:
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"user@example.org","password":"my_password","remember":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - lsGKVGjVSfz26cVV
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '110'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"userLogin":{"profile":"/gdc/account/profile/m0ckedpr0f1le0000000000000000001","state":"/gdc/account/login/m0ckedpr0f1le0000000000000000001"}}'
  recorded_at: Mon, 02 Jun 2014 19:07:36 GMT
- request:
    method: get
    uri: https://secure.gooddata.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - 3gA2uSZSeZ7dBv3w
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '17'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Mon, 02 Jun 2014 19:07:37 GMT
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/projects/ex4mplepr0ject1daxxmbz432w32qzdj/users
    body:
      encoding: UTF-8
      string: '{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/ex4mplepr0ject1daxxmbz432w32qzdj/roles/3"]},"links":{"self":"/gdc/account/profile/m0ckedpr0f1le0000000000000000002"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - hPqVQsDQaGvGOi26
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '307'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"projectUsersUpdateResult":{"successful":["/gdc/account/profile/m0ckedpr0f1le0000000000000000002"],"failed":[]}}'
  recorded_at: Mon, 02 Jun 2014 19:07:39 GMT
recorded_with: VCR 2.5.0
