---
http_interactions:
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"user@example.org","password":"my_password","remember":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - evjtwHdty9talmv3
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '233'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"userLogin":{"profile":"/gdc/account/profile/m0ckedpr0f1le0000000000000000001","state":"/gdc/account/login/m0ckedpr0f1le0000000000000000001"}}'
  recorded_at: Mon, 09 Jun 2014 18:10:58 GMT
- request:
    method: get
    uri: https://secure.gooddata.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - ckpTIxsnhCwLKf1n
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '15'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Mon, 09 Jun 2014 18:10:59 GMT
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/md/ex4mplepr0ject1daxxmbz432w32qzdj/userfilters
    body:
      encoding: UTF-8
      string: '{"userFilters":{"items":[{"user":"/gdc/account/profile/m0ckedpr0f1le0000000000000000001","userFilters":["/gdc/md/ex4mplepr0ject1daxxmbz432w32qzdj/obj/2646"]}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - AIZFmBD55Hopxnnt
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '171'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"userFiltersUpdateResult":{"failed":[],"successful":["/gdc/account/profile/m0ckedpr0f1le0000000000000000001"]}}'
  recorded_at: Mon, 09 Jun 2014 18:11:01 GMT
recorded_with: VCR 2.5.0
