---
http_interactions:
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"user@example.org","password":"my_password","remember":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - YJ7A8x7GOGU0skYY
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '110'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"userLogin":{"profile":"/gdc/account/profile/m0ckedpr0f1le0000000000000000001","state":"/gdc/account/login/m0ckedpr0f1le0000000000000000001"}}'
  recorded_at: Mon, 02 Jun 2014 18:17:53 GMT
- request:
    method: get
    uri: https://secure.gooddata.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - I7PYroEGvCXesxZZ
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '16'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Mon, 02 Jun 2014 18:17:55 GMT
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/projects/ex4mplepr0ject1daxxmbz432w32qzdj/users
    body:
      encoding: UTF-8
      string: '{"user":{"content":{"status":"ENABLED","userRoles":["/gdc/projects/ex4mplepr0ject1daxxmbz432w32qzdj/roles/999"]},"links":{"self":"/gdc/account/profile/m0ckedpr0f1le0000000000000000001"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Gdc-Request:
      - KjBTa8l7A2RO8EPI
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '194'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"errorClass":"com.gooddata.commons.http.exception.ForbiddenHttpException","trace":"","message":"Current
        user has missing permission canAssignUserWithRole in project /gdc/projects/ex4mplepr0ject1daxxmbz432w32qzdj","component":"Webapp","errorId":"e52f947c-ea47-4f63-bd02-fde258ba0c58","errorCode":"gdc.http.client.status.403","parameters":[]}}'
  recorded_at: Mon, 02 Jun 2014 18:17:56 GMT
recorded_with: VCR 2.5.0
