---
http_interactions:
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"user@example.org","password":"my_password","remember":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - wuf98Qtnr7xIhNtM
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '155'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"userLogin":{"profile":"/gdc/account/profile/m0ckedpr0f1le0000000000000000001","state":"/gdc/account/login/m0ckedpr0f1le0000000000000000001"}}'
  recorded_at: Mon, 09 Jun 2014 18:18:05 GMT
- request:
    method: get
    uri: https://secure.gooddata.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - 9MfS3NYnfUpxz4YP
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '23'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Mon, 09 Jun 2014 18:18:09 GMT
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/md/ex4mplepr0ject1daxxmbz432w32qzdj/userfilters
    body:
      encoding: UTF-8
      string: '{"userFilters":{"items":[{"user":"/gdc/account/profile/123123123","userFilters":["/gdc/md/ex4mplepr0ject1daxxmbz432w32qzdj/obj/2646"]}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Gdc-Request:
      - l2ddJ6AnAmXce5hX
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '87'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"parameters":["123123123"],"requestId":"l2ddJ6AnAmXce5hX:adqcg2o8pjm6hju3","component":"GDC::REST::Client::GDCAgent","errorClass":"GDC::Exception::NotFound","message":"User
        %s doesn''t exist."}}'
  recorded_at: Mon, 09 Jun 2014 18:18:10 GMT
recorded_with: VCR 2.5.0
