---
http_interactions:
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/account/login
    body:
      encoding: UTF-8
      string: '{"postUserLogin":{"login":"user@example.org","password":"my_password","remember":1}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - g6ODrNJMaUUgmhxG
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '108'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"userLogin":{"profile":"/gdc/account/profile/m0ckedpr0f1le0000000000000000001","state":"/gdc/account/login/m0ckedpr0f1le0000000000000000001"}}'
  recorded_at: Fri, 16 May 2014 19:48:50 GMT
- request:
    method: get
    uri: https://secure.gooddata.com/gdc/account/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Request:
      - gPQcl8qcQfWIAJnc
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '11'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Wed, 21 May 2014 13:49:41 GMT
- request:
    method: post
    uri: https://secure.gooddata.com/gdc/projects/ex4mplepr0ject1daxxmbz432w32qzdj/dataload/processes/123123/executions
    body:
      encoding: UTF-8
      string: '{"execution":{"executable":"my_project/graph/my_awesome_graph.grf"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Gdc-Request:
      - HROyW1zLkXjFdYhB
      X-Gdc-Log-Header:
      - ''
      X-Gdc-Request-Time:
      - '106'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"errorClass":"com.gooddata.msf.processes.ProcessNotFoundException","trace":"","message":"Process
        123123 not found.","component":"MSF","errorId":"43c9e6ef-fba4-4ce7-a2ac-5ddd6e78539d","errorCode":"msf.process.notfound","parameters":[]}}'
  recorded_at: Mon, 19 May 2014 13:38:48 GMT
recorded_with: VCR 2.5.0
